@use "../sass/abstracts/" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: $background;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}

.container {
    max-width: 1180px;
    width: 80%;
    margin: 0 auto;
}

.flexy {
    display: flex;
}

header {
    padding: 1.875rem 8.125rem;
}

span > img{
    width: 60px;
}

span > h1 {
    font-size: 2.25rem;
}

nav > span {
    align-items: center;
    gap: 12px;
}

form {
    width: fit-content;
}

.formSection {
    width: fit-content;
    margin: 0 auto;
}

.inputs {
    gap: 3.75rem;
}

.datas {
    display: flex;
    flex-direction: column;
}